@font-face {
    font-family: 'NotoSerifKR';
    src: url('./assets/fonts/NotoSansKR-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('./assets/fonts/NotoSansKR-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('./assets/fonts/NotoSansKR-Light.otf');
    font-weight: 300;
    font-style: normal;
}
